/*Reglas generales*/
/*box-sizing: border-box hace que el padding y el borde se incluyan 
   en el ancho y alto total del elemento, evitando que la caja crezca 
   más de lo definido.*/

* { box-sizing: border-box; };

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #ffffcc;
    color: #333;
}
header h1 {
    font-family: Audiowide, sans-serif;
    
}